@model ContentsIndexVM

@{
    ViewData["Title"] = "Index";
}

<h1>Guide</h1>
<h4>Publish ASP.NET Core 3.1 Web App + SQL Database to Azure</h4>

<p>Written 2020-03-02</p>

<br/>

<p>Step 1:</p>

<p>Step 2:</p>